<li class="base-list-text base-list-text--{{ mode|default('dark') }}">
    <img alt="" src="/svgs/icon-list-style--{{ mode|default('dark') }}.svg" class="base-list-text__list-style" />
    <div class="base-list-text__content">
        {{ text }}
    </div>
</li>
