<div class="base-carousel-controls base-carousel-controls--{{ mode|default('dark') }}">
	<carousel-container-button class="base-carousel-controls__button base-carousel-controls__button--next" direction="previous">
		<dicernable-content>Previous</dicernable-content>
		<span class="base-cta-primary__arrow"></span>
	</carousel-container-button>
	<carousel-container-button class="base-carousel-controls__button" direction="next">
		<dicernable-content>Next</dicernable-content>
		<span class="base-cta-primary__arrow"></span>
	</carousel-container-button>
</div>
