<nav aria-label="breadcrumb" class="breadcrumbs">
    {% for item in breadcrumbs %}
    {% if loop.last %}
    <div class="breadcrumbs__selected-link" aria-current="Page">{{ item.text }}</div>
    {% else %}
    <a class="breadcrumbs__link" href="{{ item.href }}">{{ item.text }}</a>
    <hr class="breadcrumbs__divider">
    {% endif %}
    {% endfor %}
</nav>
