<section class="search-result">
  <div class="search-result__container">
    <div class="search-result__header">
      <h{{heading.level|default('2')}} class="search-result__heading">{{ heading.text }}</h{{heading.level|default('2')}}>
    </div>
    {# <div class="search-result__input-inner">
      <div class="gcse-searchbox"></div>
    </div>
    <div class="gcse-searchresults"></div> #}
    <search-results></search-results>
  </div>
</section>